.sidebar{

    width:250px;

    height:100vh;

    background:#111827;

    position:fixed;

    left:0;

    top:0;

    padding:25px;

}

.sidebar h2{

    color:white;

    margin-bottom:40px;

    font-size:24px;

}

.sidebar a{

    display:block;

    color:#cbd5e1;

    padding:14px;

    margin-bottom:8px;

    border-radius:10px;

    text-decoration:none;

    transition:.3s;

}

.sidebar a:hover{

    background:#2563eb;

    color:white;

}

.sidebar i{

    margin-right:10px;

}